<h1>New Categories</h1>

<%= form_with model: @category , url: categories_path , method: :post do |form| %>
<div>
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>
<div>
	<%= form.submit "Create category" %>
</div>
<% end %> 

<%= link_to "back", root_path %>